.instalog-in-label {
  display: block;
}

.instalog-in-submit {
  margin-top: 1rem;
  display: block;
}

.instalog-in-info {
  display: none;
  margin: 1rem 0;
}

.instalog-in-error {
  display: none;
  margin: 1rem 0;
}
