.instalogin-label {
  display: block;
}

.instalogin-submit {
  margin-top: 1rem;
  display: block;
}

.instalogin-info {
  display: none;
  margin: 1rem 0;
}

.instalogin-error {
  display: none;
  margin: 1rem 0;
}
