* {
  --insta-black: #1d2327;
  --insta-red: #bf5777;
  --insta-blue-light: #3e84ad;
  --insta-blue: #1d4264;
  --insta-blue-dark: #2D4D74;
  --insta-blue-darker: #1D4264;
  --insta-green: #31AA52;
  --insta-yellow: #FFD858;
  --insta-yellow-light: #FBE6AF;
  --insta-gray: #E4E4E4;
}
